<!DOCTYPE html>
<html>
  <head>
    <title>Aura Beauty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property='og:title' content='Aura Beauty' />
    <meta property='og:image' content='/app/assets/images/meta-image.jpg' />
    <meta property='og:description' content='E-commerce webstore inspired by Rare Beauty' />
    <meta property='og:url' content='http://aura-beauty.herokuapp.com/' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>",
          "email": "<%= current_user.email %>"
        }
      </script>
    <% end %>

    <script type="text/javascript">
      window.accountIcon = "<%= image_url('account-icon.png') %>";
      window.sadFace = "<%= image_url('sad-face.png')%>"
      window.shopAll = "<%= image_url('dropdown-shop-all.png')%>"
      window.face = "<%= image_url('dropdown-face.png')%>"
      window.eye = "<%= image_url('dropdown-eye.png')%>"
      window.lip = "<%= image_url('dropdown-lip.png')%>"
      window.tools = "<%= image_url('dropdown-tools.png')%>"
      window.splash_eye = "<%= image_url('splash-eye.png')%>"
      window.splash_lip = "<%= image_url('splash-lip.png')%>"
      window.splash_face = "<%= image_url('splash-face.png')%>"
      window.splash_rare = "<%= image_url('splash-rare.png')%>"
      window.splash_foundation = "<%= image_url('splash-foundation.png')%>"
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
